@font-face {
    font-family: 'marvel-regular-font';
    src: url('/public/fonts/MarvelRegular-Dj83.ttf') format('truetype');
}

@font-face {
    font-family: 'avangers-font';
    src: url('/public/fonts/AvengeroRegular-zvgl.ttf') format('truetype');
}

@font-face {
    font-family: 'black-widow-font';
    src: url('/public/fonts/BlackWidowMovie-d95Rg.ttf') format('truetype');
}

@font-face {
    font-family: 'comics-font';
    src: url('/public/fonts/HoustonComicsPersonalUse-6Yea1.ttf') format('truetype');
}

html {
    zoom: 54%;
    transform: none;
    transform-origin: 0 0;
    -moz-transform: scale(0.54);
    -moz-transform-origin: 50% 0;
    /*Zoom nu este supported de mozilla*/
    background: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)), url("/public/images/Login/wallpaperflare.com_wallpaper.jpg") no-repeat top right fixed;
    background-size: cover;
    scroll-behavior: smooth;
    text-transform: uppercase;
    font-family: 'marvel-regular-font';
}


/*
PopUp
*/

#popup-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    display: none;
}

#popup {
    width: 600px;
    overflow: hidden;
    background: #C5CFD1;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    text-align: center;
    display: block;
}

#popup span {
    color: black;
    font-size: 40px;
    display: block;
    margin: 20px 0;
}

#popup h1 {
    font-size: 75px;
    color: black;
}

.close {
    font-size: 25px;
    color: black;
    padding: 10px 30px;
    cursor: pointer;
    background-color: #5E6674;
    display: inline-block;
    border-radius: 4px;
}


/*
Page Preloader
*/

.pre-loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pre-loader>img {
    width: 300px;
}

.pre-loader.hidden {
    animation: fadeOutLoader 1.25s;
    animation-fill-mode: forwards;
}

@keyframes fadeOutLoader {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.login-div {
    margin: 100px auto;
    height: 1000px;
    width: 1000px;
    padding: 60px;
    border-radius: 30%;
    background: url("/public/images/Login/thoru_mau.jpg") no-repeat center;
}

.logo img {
    max-width: 30%;
    max-height: 30%;
    display: block;
    border-radius: 50%;
    margin: 0 auto 30px;
    margin-top: 80px;
}

.titlu {
    text-align: center;
    color: firebrick;
    font-weight: bolder;
    font-size: 80px;
    letter-spacing: 7px;
}

.form {
    width: 100%;
    margin: 0 auto;
    margin-left: 150px;
    margin-top: 30px;
}

.form input {
    font-size: 30px;
    width: 85%;
    padding: 10px 20px 10px 5px;
    background:none;
    outline: none;
    margin-bottom: 50px;
    border-radius: 2%;
    /*border: none;*/
}

.email {
    width: 70%;
    display: block;
    
    border-radius: 30px;
    border: 3px solid rgba(0, 0, 0, 1);
    padding: 10px;
    margin: 60px 0;
}

.form img {
    height: 35px;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-right: 5px;
}

.reset-button {
    flex: 1 1;
    background-color: #ED1D24;
    cursor: pointer;
    border-radius: 18px;
    border: 1mm ridge #ED1D24;
    color: #ffffff;
    font-family: 'avangers-font';
    font-size: 12px;
    padding: 7px 15px;
    text-decoration: none;
    width: 75%;
    margin-top: 100px;
    margin-bottom: 30px;
    
}

.reset-button:active {
    position: relative;
    top: 1px;
}

.reset-button:focus {
    outline: none;
}

.email input {
    color: white;
}


/* Back button*/

.back-button {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    position: fixed;
    left: 25px;
    bottom: 20px;
    display: block;
    clear: both;
    overflow: hidden;
}

.back-button img {
    cursor: pointer;
    width: 120px;
}

.grow img {
    transition: 0.5s;
}

.grow img:hover {
    transform: scale(1.1);
    transition: 0.25 ease;
    max-width: 100%;
    height: auto;
}