@font-face {
    font-family: 'marvel-regular-font';
    src: url('fonts/MarvelRegular-Dj83.ttf') format('truetype');
}

@font-face {
    font-family: 'avangers-font';
    src: url('fonts/AvengeroRegular-zvgl.ttf') format('truetype');
}

@font-face {
    font-family: 'black-widow-font';
    src: url('fonts/BlackWidowMovie-d95Rg.ttf') format('truetype');
}

@font-face {
    font-family: 'comics-font';
    src: url('fonts/HoustonComicsPersonalUse-6Yea1.ttf') format('truetype');
}

html {
    zoom: 47.5%;
    transform: none;
    transform-origin: 0 0;
    -moz-transform: scale(0.475);
    -moz-transform-origin: 50% 0;
    /*Zoom nu este supported de mozilla*/
    background: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)), url("images/Login/wallpaperflare.com_wallpaper.jpg") no-repeat top right fixed;
    background-size: cover;
    scroll-behavior: smooth;
    text-transform: uppercase;
    font-family: 'marvel-regular-font';
}

.register-div {
    margin: 100px auto;
    height: 1200px;
    width: 900px;
    padding: 60px;
    border-radius: 30%;
    background: url("images/Login/thoru_mau.jpg") no-repeat center;
}


/*
Page Preloader
*/

.pre-loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pre-loader>img {
    width: 300px;
}

.pre-loader.hidden {
    animation: fadeOutLoader 1.25s;
    animation-fill-mode: forwards;
}

@keyframes fadeOutLoader {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.logo img {
    max-width: 30%;
    max-height: 30%;
    display: block;
    border-radius: 50%;
    margin: 0 auto 30px;
    margin-top: 80px;
}

.titlu {
    text-align: center;
    color: firebrick;
    font-weight: bolder;
    font-size: 80px;
    letter-spacing: 5px;
}

.form {
    width: 100%;
    margin: 0 auto;
    margin-left: 150px;
    margin-top: 30px;
}

.form input {
    font-size: 30px;
    width: 85%;
    padding: 10px 20px 10px 5px;
    background: none;
    outline: none;
    border: none;
}

.username,
.password,
.confirm-password,
.mail {
    width: 70%;
    display: block;
    border-radius: 30px;
    border: 3px solid rgba(0, 0, 0, 1);
    padding: 10px;
    margin: 10px 0;
    margin-top: 20px;
}

.names .first-name,
.names .last-name {
    width: 33.7%;
    display: flex;
    border-radius: 30px;
    border: 3px solid rgba(0, 0, 0, 1);
    padding: 10px;
    margin: 10px 0;
    margin-top: 20px;
}

.form img,
.names img {
    height: 35px;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-right: 5px;
}

.accept-terms {
    display: flex;
    justify-content: left;
}

.register-button {
    text-indent: 20px;
    flex: 1 1;
    background-color: #ED1D24;
    cursor: pointer;
    border-radius: 18px;
    border: 1mm ridge #ED1D24;
    color: #ffffff;
    font-family: 'avangers-font';
    font-size: 12px;
    padding: 7px 15px;
    text-decoration: none;
    width: 70%;
    margin-bottom: 30px;
}

.register-button:active {
    position: relative;
    top: 2px;
}

.register-button:focus {
    outline: none;
}

.register {
    font-size: 40px;
}

input.checkb {
    height: 22px;
    width: 22px;
}

.password input[data-type="password"] {
    -webkit-text-security: circle;
}

.confirm-password input[data-type="password"] {
    -webkit-text-security: circle;
}

.username input,
.password input,
.confirm-password input,
.names .first-name input,
.names .last-name input,
.mail input {
    color: white;
}

.options {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-size: 30px;
    align-content: space-evenly;
}

.names {
    display: flex;
}