@font-face {
    font-family: 'marvel-regular-font';
    src: url('fonts/MarvelRegular-Dj83.ttf') format('truetype');
}

@font-face {
    font-family: 'avangers-font';
    src: url('fonts/AvengeroRegular-zvgl.ttf') format('truetype');
}

@font-face {
    font-family: 'miss-marvel-font';
    src: url('fonts/MissMarvel-rP6O.ttf') format('truetype');
}

html {
    background: url("images/Background/wallpapersden.com_superman-dc-comic_1920x1080.jpg") no-repeat center center fixed;
    background-size: cover;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

.logo-section {
    position: absolute;
    left: 0;
    top: 0;
}

.btn-section-wrapper {
    position: absolute;
    width: 325px;
    height: 100%;
    right: 7.5%;
    background: url("images/Background/ezgif.com-gif-maker\ \(1\).gif") no-repeat center top;
    background-size: auto;
}

.btn-section {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background: #ED1D24;
    font-family: "marvel-regular-font";
    color: #fff;
    border: none;
    position: relative;
    height: 12%;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    text-align: center;
}

button:hover {
    background: #0476F2;
    color: black;
}

button:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2.25px;
    width: 0;
    background: #ED1D24;
    transition: 300ms ease all;
}

button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}


/* --------------------------- */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100vw;
    /* Full width */
    height: 100vh;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    font-size: 10px;
    font-family: 'avengers-font';
}


/* Modal Content/Box */

.modal .modal-content {
    /*background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 2px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ED1D24;
    width: 800px;
    height: 200px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    padding-right: 0px;
    padding-left: 39px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    font-family: 'avangers-font';
    font-size: 7.75px;
}

.modal-content div {
    color: white;
}


/* The Close Button */

.close {
    color: #aaa;
    margin-left: 20px;
    margin-top: -50px;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ED1D24;
    text-decoration: none;
    cursor: pointer;
}

.modal-content .volume-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.modal-content .language-div,
.modal-content .mode-div {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.modal-content .volume-div img {
    width: 20%;
}

.modal-content .language-div form select,
.modal-content .mode-div form select {
    width: 150px;
    height: auto;
    font-size: 17px;
    background: #0476F2;
    color: black;
    outline: none;
    font-family: 'miss-marvel-font';
    letter-spacing: 2px;
}

@media (max-width:800px) {
    .modal .modal-content {
        width: 80vw;
        /* Full width */
        height: 80vh;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:520px) {
    .modal .modal-content {
        display: flex;
        flex-direction: column;
    }
    @media (max-width:660px) {
        .btn-section-wrapper {
            background: none;
        }
    }
}