@font-face {
    font-family: 'marvel-regular-font';
    src: url('fonts/MarvelRegular-Dj83.ttf') format('truetype');
}

@font-face {
    font-family: 'avangers-font';
    src: url('fonts/AvengeroRegular-zvgl.ttf') format('truetype');
}

@font-face {
    font-family: 'black-widow-font';
    src: url('fonts/BlackWidowMovie-d95Rg.ttf') format('truetype');
}

@font-face {
    font-family: 'comics-font';
    src: url('fonts/HoustonComicsPersonalUse-6Yea1.ttf') format('truetype');
}

html {
    zoom: 54%;
    background: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)), url("images/Login/wallpaperflare.com_wallpaper.jpg") no-repeat top right fixed;
    overflow: hidden;
    background-size: cover;
    scroll-behavior: smooth;
    text-transform: uppercase;
    font-family: 'marvel-regular-font';
}

.register-div {
    margin: 100px auto;
    height: 1000px;
    width: 1000px;
    padding: 60px;
    border-radius: 30%;
    background: url("images/Login/thoru_mau.jpg") no-repeat center;
}

.logo img {
    max-width: 30%;
    max-height: 30%;
    display: block;
    border-radius: 50%;
    margin: 0 auto 30px;
    margin-top: 80px;
}

.titlu {
    text-align: center;
    color: firebrick;
    font-weight: bolder;
    font-size: 80px;
    letter-spacing: 5px;
}

.form {
    width: 100%;
    margin: 0 auto;
    margin-left: 150px;
    margin-top: 30px;
}

.form input {
    font-size: 30px;
    width: 85%;
    padding: 10px 20px 10px 5px;
    background: none;
    outline: none;
    border: none;
}

.username,
.password,
.confirm-password {
    width: 70%;
    display: block;
    border-radius: 30px;
    border: 3px solid rgba(0, 0, 0, 1);
    padding: 10px;
    margin: 10px 0;
    margin-top: 20px;
}

.form img {
    height: 35px;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-right: 5px;
}

.accept-terms {
    display: flex;
    justify-content: left;
}

.register-button {
    flex: 1 1;
    background-color: #ED1D24;
    cursor: pointer;
    border-radius: 18px;
    border: 1mm ridge #ED1D24;
    color: #ffffff;
    font-family: 'avangers-font';
    font-size: 12px;
    padding: 7px 15px;
    text-decoration: none;
    width: 75%;
    margin-bottom: 30px;
}

.register-button:active {
    position: relative;
    top: 2px;
}

.register-button:focus {
    outline: none;
}

.register {
    font-size: 40px;
}

input.checkb {
    height: 22px;
    width: 22px;
}

.password input[data-type="password"] {
    -webkit-text-security: circle;
}

.confirm-password input[data-type="password"] {
    -webkit-text-security: circle;
}

.username input,
.password input,
.confirm-password input {
    color: white;
}

.options {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-size: 30px;
    align-content: space-evenly;
}