@font-face {
    font-family: 'marvel-regular-font';
    src: url('fonts/MarvelRegular-Dj83.ttf') format('truetype');
}

html {
    background: url("images/Background/wallpapersden.com_superman-dc-comic_1920x1080.jpg") no-repeat center center fixed;
    background-size: cover;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

.logo-section {
    position: absolute;
    left: 0;
    top: 0;
}

.btn-section-wrapper {
    position: absolute;
    width: 325px;
    height: 100%;
    right: 7.5%;
    background:  url("images/Background/ezgif.com-gif-maker\ \(1\).gif") no-repeat center top;
    background-size: auto;
}

.btn-section {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

button{
    background: #ED1D24;
    font-family: "marvel-regular-font";
    color:#fff;
    border:none;
    position:relative;
    height:12%;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    text-align: center;
  }
  button:hover{
    background:#0476F2;
    color:black;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2.25px;
    width:0;
    background: #ED1D24;
    transition:300ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }